<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, input_html: {style:"width:50%; margin:auto"}, required: true, autofocus: true %>
    <%= f.input :password, input_html: {style:"width:50%; margin:auto"}, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, input_html: {style:"width:50%; margin:auto"}, required: true %>
		<%= f.input :name, input_html: {style:"width:50%; margin:auto"}, required: true %>
    <%= f.input :age, collection: ["10대","20대","30대","40대","50대"], input_html: {class:"btn btn-default dropdown-toggle", style:"width:10%; margin:auto;"}, required: true %>
    <%= f.input :gender, as: :radio_buttons, collection: ["여자", "남자"], input_html: {style:"width:10%; margin:auto"}, required: true %>
          
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
